body {
    font-family: "Martian Mono", monospace;
    margin: 0;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(158, 58, 58);

    p {
        margin: 0;
        padding: 5px 0;
    }
}