body {
    font-family: "Martian Mono", monospace;
    margin: 0;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    padding: 5px 0;
    margin: 0;
    background-color: rgb(158, 58, 58);
    justify-content: space-between;
    height: 50px;

    .logo {
        display: flex;
        padding-left: 20px;
        align-items: center;
        
        img {
            border-radius: 100%;
            width: 40px;
            height: 40px;
        }
    }

    .menu_toggle {
        display: none;
        font-weight: bold;
        background-color: transparent;
        border: none;
        padding: 10px 30px;
        cursor: pointer;
    }

    .menu_toggle:hover {
        background-color: rgb(211, 31, 31);
    }

    menu {
        padding: 0;

        a {
            padding: 20px 20px;
            color: black;
            text-decoration: none;
            font-weight: bold;
            cursor: pointer;
        }

        a:hover {
            background-color: rgb(211, 31, 31);
        }
    }
}

@media (min-width: 0px) and (max-width: 950px) {
    html.claro menu {
        background-color: rgb(244, 244, 244);

        a {
            color: black;
        }
    }

    html.oscuro menu {
        background-color: rgb(26, 23, 23);

        a {
            color:white
        }
    }

    header {
        .menu_toggle {
            display: block;
        }

        menu {
            display: none;
            position: absolute;
            top: 44px;
            right: 0;
            flex-direction: column;
            background-color: #fff;
            width: 100%;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        

        menu.is-active {
            display: flex;
        }

        menu a {
            padding: 15px 20px;
            border-bottom: 1px solid #eee;
        }
    }
}